<!-- Wappler include head-page="layouts/main" is="dmx-app" id="orderlist" appConnect="local" components="{dmxDataTraversal:{}}" components="{dmxDataTraversal:{},dmxDatePicker:{},dmxStateManagement:{},dmxBootstrap5Modal:{}}" bootstrap5="cdn" jquery_slim_35="cdn" moment_2="cdn" -->
<meta name="ac:route" content="/order-list">
<dmx-query-manager id="qm"></dmx-query-manager>
<dmx-serverconnect id="scMarketList" url="/api/Location/ActiveMarketList"></dmx-serverconnect>
<dmx-serverconnect id="scCategoryType" url="/api/Category/ActiveCategoryType"></dmx-serverconnect>
<dmx-serverconnect id="scDeliveryPerson" url="/api/Users/DeliveryPerson" noload></dmx-serverconnect>
<dmx-serverconnect id="scOrderList" url="/api/Orders/Orders" dmx-param:search_value="formSearch.SearchValue.value.titlecase()" dmx-param:market_id="market_select.value" dmx-param:cat_type_id="cattype_select.value" dmx-param:fromdate="formDatePicker.daterange.start" dmx-param:todate="formDatePicker.daterange.end"></dmx-serverconnect>
<dmx-data-detail id="ddOrderList" dmx-bind:data="scOrderList.data.GetOrders" key="id"></dmx-data-detail>
<dmx-serverconnect id="scOrderDetails" url="/api/Orders/OrderDetails" noload></dmx-serverconnect>
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Order List</h2>
                                    <p>Total:<span class="bread-ntd panel-heading" dmx-text="content.scOrderList.data.GetOrders.length"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                            <div class="breadcomb-report">
                                <select class="form-control pro-edt-select form-control-primary" type="text" id="market_select" dmx-bind:options="scMarketList.data.ActiveMarkets" optionvalue="id" dmx-bind:value="1" optiontext="market_name_en">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                            <div class="breadcomb-report">
                                <select class="form-control pro-edt-select form-control-primary" type="text" id="cattype_select" dmx-bind:options="scCategoryType.data.CatrgoryType" optionvalue="id" optiontext="type_name_en" dmx-bind:value="1">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                            <form id="formDatePicker">
                                <label class="datepicker">
                                    <input type="text" is="dmx-date-range-picker" format="DD MMM YY" class="form-control col" placeholder="15 May 23 - 15 May 23" id="daterange" dmx-bind:startdate="dateNow.datetime.addDays(0)" dmx-bind:enddate="dateNow.datetime.formatDate('yyyy-MM-dd 23:59:59')" autoapply="true">
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>All Order List</h4>
                    <!-- <div class="add-product">
                        <a href="#" data-toggle="modal" data-target="#modalAddEdit" dmx-on:click="ddOrderList.select(0)">Edit Ordr</a>
                    </div> -->
                    <div class="breadcome-heading">
                        <form role="search" class="" id="formSearch">
                            <input type="text" placeholder="Search..." class="form-control" id="SearchValue" dmx-on:keyup="scOrderList.load({search_items: value, fromdate: formDatePicker.daterange.start, todate: formDatePicker.daterange.end})">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Action</th>
                                    <th>Logo</th>
                                    <th>Rest. Name</th>
                                    <th>Rest. Address &amp; Mobile</th>
                                    <th>Order Id</th>
                                    <th>Delivery Person</th>
                                    <th>Delivery Mobile</th>
                                    <th>Order Status</th>
                                    <th>Payment Status</th>
                                    <th>User</th>
                                    <th>Mobile</th>
                                    <th>Shipping Address1</th>
                                    <th>Shipping Address2</th>
                                    <th>Net Amt (Tot+Del+Oth) - (Dis+Comm+Wall. Dedu.)</th>
                                    <th>Total amt</th>
                                    <th>Discount</th>
                                    <th>Ex charge amt</th>
                                    <th>Ex comm amt</th>
                                    <th>Delevery amt</th>
                                    <th>Wallet bal</th>
                                    <th>Order Placed On</th>
                                    <th>Modified On</th>
                                    <th>Deleted On</th>
                                    <th>Applied promo</th>
                                    <th>Wallet cashback amt</th>
                                    <th>Wallet deduct amt</th>
                                    <th>Wallet closing amt</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scOrderList.data.GetOrders" id="tableRepeat1">
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <!-- <button title="Edit" class="pd-setting-ed" data-toggle="modal" data-target="#modalAddEdit" dmx-on:click="ddOrderList.select(id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> -->
                                        <button title="Order Details" class="pd-setting-ed" data-toggle="modal" data-target="#modalViewOrder" dmx-on:click="scOrderDetails.load({order_id: id},true);ddOrderList.select(id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                    </td>
                                    <td><img src="" dmx-bind:src="shop_logo" /></td>
                                    <td dmx-text="shop_name_en"></td>
                                    <td dmx-text="shop_address+' '+shop_mobile_no"></td>
                                    <td dmx-text="order_id"></td>
                                    <td dmx-text="delivery_fname+' '+delivery_lname"></td>
                                    <td dmx-text="delivery_mobile+' '+delivery_whatsapp"></td>
                                    <td dmx-text="((status == 0) ? 'UnConfirmed' : (status == 1) ? 'Confirmed' : (status == 2) ? 'Canceled' : (status == 3) ? 'Prepairing' : (status == 4) ? 'OFD' :  (status == 5) ? 'Delivered' :  (status == 6) ? 'Returned' : '')" dmx-style:color="(status==0)?'#000':(status==1)?'#000':(status==2)?'#ff0000':(status==3)?'#4d4dff':(status==4)?'#000066':(status==5)?'#1f7a1f':(status==6)?'#ff0000':'#fff'" style="font-weight: bold; background: #fff;"></td>
                                    <td dmx-text="payment_status" style="font-weight: bold; background: #fff;" dmx-style:color="(payment_status=='COD')?'#9c27b7':'#ff9800'" style="font-weight: bold; background: #fff;"></td>
                                    <td dmx-text="fname+' '+lname"></td>
                                    <td dmx-text="user_mobile"></td>
                                    <td dmx-text="user_name+' '+mobile+' '+whatsapp"></td>
                                    <td dmx-text="address+' '+ps+' '+dist+' '+pin"></td>
                                    <td dmx-text="(net_order_amt.toNumber()).toFixed(2)"></td>
                                    <td dmx-text="total_amt.toNumber().toFixed(2)"></td>
                                    <td dmx-text="discount.toNumber().toFixed(2)"></td>
                                    <td dmx-text="ex_charge_amt.toNumber().toFixed(2)"></td>
                                    <td dmx-text="ex_comm_amt.toNumber().toFixed(2)"></td>
                                    <td dmx-text="delevery_amt.toNumber().toFixed(2)"></td>
                                    <td dmx-text="wallet_bal.toNumber().toFixed(2)"></td>
                                    <td dmx-text="created_on"></td>
                                    <td dmx-text="updated_on"></td>
                                    <td dmx-text="deleted_on"></td>
                                    <td dmx-text="promo_code"></td>
                                    <td dmx-text="wallet_cashback_amt.toNumber().toFixed(2)"></td>
                                    <td dmx-text="wallet_deduct_amt.toNumber().toFixed(2)"></td>
                                    <td dmx-text="wallet_closing_amt.toNumber().toFixed(2)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-light" dmx-show="scOrderList.data.GetOrders.length==0">
                        <p class="text-center fa-2x text-warning">
                            No record Found!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal start -->
<div id="modalViewOrder" class="modal modal-adminpro-general Customwidth-popup-WarningModal fade" role="dialog" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-close-area modal-close-df" dmx-on:click="scformAddEditOrder.reset(true);ddOrderList.select(0)">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
                <h4 class="modal-title">{{content.ddOrderList.data.id?'View Order':'Add A New Order'}} <span class="spinner-border spinner-border-sm text-success" role="status" dmx-show="scOrderDetails.state.executing"></span>
                </h4>
            </div>
            <div class="modal-body gito-py-0">
                <div class="row mx-0">
                    <div class="col-12">
                        <div class="review-tab-pro-inner">
                            <ul id="myTab3" class="tab-review-design">
                                <li class="active"><a href="#ProductDetails"><i class="icon nalika-eye" aria-hidden="true"></i>Order Details</a></li>
                                <li dmx-on:click="scDeliveryPerson.load({},true)"><a href="#EditOrder"><i class="icon nalika-edit" aria-hidden="true"></i>Edit Order</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="ProductDetails">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table text-warning">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Sl. No.</th>
                                                        <th scope="col">Image</th>
                                                        <th scope="col">Prod. Name</th>
                                                        <th scope="col">Prod. Mark</th>
                                                        <th scope="col">No. of Order</th>
                                                        <th scope="col">Unit Price</th>
                                                        <th style="color: #fff;" scope="col">Total Price</th>
                                                        <th scope="col">MRP</th>
                                                        <th scope="col">Order Status</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Order Placed at</th>
                                                        <th scope="col">Order Updated</th>
                                                        <th scope="col">Deleted On</th>
                                                        <th scope="col">Prod. Id</th>
                                                        <th scope="col">Shop Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody is="dmx-repeat" dmx-generator="bs5table" id="RepeatOrderDetails" key="ord_details_id" dmx-bind:repeat="scOrderDetails.data.Details">
                                                    <tr>
                                                        <th scope="row">{{$index+1}}</th>
                                                        <th><img src="" dmx-bind:src="prod_img1" loading="lazy"></th>
                                                        <td dmx-text="prod_name"></td>
                                                        <td dmx-text="prod_mark"></td>
                                                        <td dmx-text="prod_qty"></td>
                                                        <td dmx-text="each_unit_price"></td>
                                                        <td style="color: #fff;" dmx-text="each_net_amt"></td>
                                                        <td style="    text-decoration: line-through;" dmx-text="mrp"></td>
                                                        <td class="text-center aligncenter" dmx-text="(order_status==0)?'UnConfirmed':(order_status==1)?'Confirmed':(order_status==2)?'Canceled':(order_status==3)?'Prepairing':(order_status==4)?'OFD':(order_status==5)?'Delivered':(order_status==6)?'Returned':''" dmx-style:color="(order_status==0)?'#000':(order_status==1)?'#000':(order_status==2)?'#ff0000':(order_status==3)?'#4d4dff':(order_status==4)?'#000066':(order_status==5)?'#1f7a1f':(order_status==6)?'#ff0000':'#fff'" style="font-weight: bold; background: #fff;"></td>
                                                        <td dmx-text="howmuch+' '+q_unit"></td>
                                                        <td dmx-text="created_on.formatDate('dd-MMM-yyyy hh:mm A')"></td>
                                                        <td dmx-text="updated_on.formatDate('dd-MMM-yyyy hh:mm A')"></td>
                                                        <td dmx-text="(deleted_on!=null)?deleted_on.formatDate('dd-MMM-yyyy hh:mm A'):''"></td>
                                                        <td dmx-text="prod_id"></td>
                                                        <td dmx-text="purchase_price"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="EditOrder">
                                    <form id="scformAddEditOrder" is="dmx-serverconnect-form" method="post" action="/api/Orders/UpOrderDelivery" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="scOrderList.load({fromdate: formDatePicker.daterange.start, todate: formDatePicker.daterange.end},true);notifMain.success(scformAddEditOrder.data);scformAddEditOrder.reset()" dmx-on:forbidden="notifMain.warning(lastError.response)" dmx-on:error="notifMain.warning(lastError.response)" dmx-on:unauthorized="notifMain.warning(lastError.response)" dmx-on:invalid="notifMain.warning(lastError.response)">
                                        <input type="hidden" name="EditOrderId" id="EditOrderId" dmx-bind:value="content.ddOrderList.data.id">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="text-info">Select Delevery Person</label>
                                                    <div class="input-group mg-b-pro-edt"><span class="input-group-addon"><i class="icon nalika-flag" aria-hidden="true"></i></span>
                                                        <select class="form-control" id="delivery_person_id" name="delivery_person_id" dmx-bind:value="ddOrderList.data.order_assigned_to" dmx-bind:options="scDeliveryPerson.data.query" optiontext="fname+'  '+lname" optionvalue="delivery_id" required="">
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="text-info">Order Status</label>
                                                    <div class="input-group mg-b-pro-edt"><span class="input-group-addon"><i class="icon nalika-flag" aria-hidden="true"></i></span>
                                                        <select class="form-control" id="order_status" name="order_status" dmx-bind:value="ddOrderList.data.status" required="">
                                                            <option value="0">UnConfirmed</option>
                                                            <option value="1">Confirmed</option>
                                                            <option value="2">Cancelled</option>
                                                            <option value="3">Preparing</option>
                                                            <option value="4">Out For Delivery (OFD)</option>
                                                            <option value="5">Delivered</option>
                                                            <option value="6">Returned</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div><button class="btn btn-primary" type="submit" dmx-bind:disabled="state.executing">{{content.ddOrderList.data.id?'Update':'Submit'}}<span class="spinner-border spinner-border-sm text-success" role="status" dmx-show="state.executing"></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-warning" dmx-on:click="scformAddEditOrder.reset(true);ddOrderList.select(0)">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    // setTimeout(() => {
    // document.location.reload();
    // }, 50000);
</script>